## Importing libraries

In [6]:
import os
import pandas as pd
import seaborn as sb
import numpy as np

## Importing datasets

In [7]:
# BASE_PATH = './datasets/'
# DATASET1_PATH = os.path.join(BASE_PATH,'AI_Job_Market')
# DATASET2_PATH = os.path.join(BASE_PATH,'Job_Postings')
# DATASET3_PATH = os.path.join(BASE_PATH,'kaggle-survey-2019')
# DATASET4_PATH = os.path.join(BASE_PATH,'US_graduates')

## Data Cleaning on Dataset 2

In [8]:
# POSTINGS_PATH = os.path.join(DATASET2_PATH,'postings.csv')
# df = pd.read_csv(POSTINGS_PATH)

In [9]:
# df.head()

In [10]:
# df_half = df.iloc[:len(df) // 2,:]
# len(df_half)

In [11]:
# NEW_POSTINGS_PATH = os.path.join(DATASET2_PATH, 'postings_half.csv')
# df_half.to_csv(NEW_POSTINGS_PATH)

## MERGING DATASETS

In [12]:


# Load the datasets
df1 = pd.read_csv('./datasets/kaggle-survey-2019/multiple_choice_responses.csv')  # multiple_choice_responses dataset
df2 = pd.read_csv('./datasets/US_graduates/US_graduates.csv')               # US_graduates dataset
df3 = pd.read_csv('./datasets/Job_Postings/postings_half.csv')                   # postings dataset
df4 = pd.read_csv('./datasets/AI_Job_Market/ai_job_market_insights.csv')              # ai insights dataset

# Print column names to debug
print("df1 (multiple_choice_responses) columns:", df1.columns)
print("df2 (US_graduates) columns:", df2.columns)
print("df3 (postings) columns:", df3.columns)
print("df4 (ai_insights) columns:", df4.columns)

c:\users\riyal\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (0,3,7,19,34,47,49,50,51,52,53,54,68,81,94,96,109,115,130,139,147,154,167,180,193,206,219,232,245) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df1 (multiple_choice_responses) columns: Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q2_OTHER_TEXT',
       'Q3', 'Q4', 'Q5', 'Q5_OTHER_TEXT', 'Q6', 'Q7',
       ...
       'Q34_Part_4', 'Q34_Part_5', 'Q34_Part_6', 'Q34_Part_7', 'Q34_Part_8',
       'Q34_Part_9', 'Q34_Part_10', 'Q34_Part_11', 'Q34_Part_12',
       'Q34_OTHER_TEXT'],
      dtype='object', length=246)
df2 (US_graduates) columns: Index(['Year', 'Demographics.Total', 'Education.Major', 'Salaries.Highest',
       'Salaries.Lowest', 'Salaries.Mean', 'Salaries.Median',
       'Salaries.Quantity', 'Salaries.Standard Deviation',
       'Demographics.Ethnicity.Asians', 'Demographics.Ethnicity.Minorities',
       'Demographics.Ethnicity.Whites', 'Demographics.Gender.Females',
       'Demographics.Gender.Males', 'Education.Degrees.Bachelors',
       'Education.Degrees.Doctorates', 'Education.Degrees.Masters',
       'Education.Degrees.Professionals',
       'Employment.Employer Type.Business/Industry',
       'Employment.Employer Type.Educational Institution',
       'Employment.Employer Type.Government',
       'Employment.Reason Working Outside Field.Career Change',
       'Employment.Reason Working Outside Field.Family-related',
       'Employment.Reason Working Outside Field.Job Location',
       'Employment.Reason Working Outside Field.No Job Available',
       'Employment.Reason Working Outside Field.Other',
       'Employment.Reason Working Outside Field.Pay/Promotion',
       'Employment.Reason Working Outside Field.Working Conditions',
       'Employment.Reason for Not Working.Family',
       'Employment.Reason for Not Working.Layoff',
       'Employment.Reason for Not Working.No Job Available',
       'Employment.Reason for Not Working.No need/want',
       'Employment.Reason for Not Working.Student',
       'Employment.Status.Employed', 'Employment.Status.Not in Labor Force',
       'Employment.Status.Unemployed',
       'Employment.Work Activity.Accounting/Finance/Contracts',
       'Employment.Work Activity.Applied Research',
       'Employment.Work Activity.Basic Research',
       'Employment.Work Activity.Computer Applications',
       'Employment.Work Activity.Design',
       'Employment.Work Activity.Development',
       'Employment.Work Activity.Human Resources',
       'Employment.Work Activity.Managing/Supervising People/Projects',
       'Employment.Work Activity.Other',
       'Employment.Work Activity.Productions/Operations/Maintenance',
       'Employment.Work Activity.Professional Service',
       'Employment.Work Activity.Qualitity/Productivity Management',
       'Employment.Work Activity.Sales, Purchasing, Marketing',
       'Employment.Work Activity.Teaching'],
      dtype='object')
df3 (postings) columns: Index(['Unnamed: 0', 'job_id', 'company_name', 'title', 'description',
       'max_salary', 'pay_period', 'location', 'company_id', 'views',
       'med_salary', 'min_salary', 'formatted_work_type', 'applies',
       'original_listed_time', 'remote_allowed', 'job_posting_url',
       'application_url', 'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')
df4 (ai_insights) columns: Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

In [13]:
df1.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

In [14]:
# Rectifying header of dataframe 1 
df1.columns = df1.iloc[0]
# Drop the second row (as it is now the header)
df1 = df1.drop(0)

df1.rename(columns={
    "In which country do you currently reside?": "Location",
    "Select the title most similar to your current role (or most recent title if retired): - Selected Choice": "Job_Title",
}, inplace=True)

In [15]:
df1.head() #Checking the changes

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,Location,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Job_Title,Select the title most similar to your current role (or most recent title if retired): - Other - Text,What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,...,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft SQL Server,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Oracle Database,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft Access,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - AWS Relational Database Service,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - AWS DynamoDB,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Azure SQL Database,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Google Cloud SQL,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - None,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Other - Text
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1
5,392,22-24,Male,-1,India,Bachelor’s degree,Other,1,0-49 employees,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [16]:
# Checking Job_Title column name exists in df1
df1['Job_Title']

1        Software Engineer
2        Software Engineer
3                      NaN
4                    Other
5                    Other
               ...
19713                  NaN
19714                Other
19715              Student
19716         Statistician
19717    Software Engineer
Name: Job_Title, Length: 19717, dtype: object

In [17]:
#Renaming columns to make it consistent throughout
df3.rename(columns={
    "title": "Job_Title",
    "location": "Location",
    "skills_desc": "Required_Skills",
    "max_salary": "Salary_Max",
    "med_salary": "Salary_Median",
    "min_salary": "Salary_Min"
}, inplace=True)

In [18]:
df3.columns#Checking changes

Index(['Unnamed: 0', 'job_id', 'company_name', 'Job_Title', 'description',
       'Salary_Max', 'pay_period', 'Location', 'company_id', 'views',
       'Salary_Median', 'Salary_Min', 'formatted_work_type', 'applies',
       'original_listed_time', 'remote_allowed', 'job_posting_url',
       'application_url', 'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'Required_Skills', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [19]:
df4.columns

Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

In [20]:
#Renaming columns to make it consistent throughout
df4.rename(columns={
    "Salary_USD": "Salary_Median",
    "Required_Skills": "Skills",
    "title": "Job_Title"
}, inplace=True)

In [21]:
#Checking Changes
df4.columns

Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Skills', 'Salary_Median',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

In [22]:
# Merge the datasets on common columns like 'Job_Title' and 'Location'
merged_df = df1.merge(df3, on=['Job_Title', 'Location'], how='outer')\
                .merge(df4, on=['Job_Title', 'Location'], how='outer')\
                .merge(df2, left_on='Job_Title', right_on='Education.Major', how='outer')

# Display the first few rows of the merged dataset
print(merged_df.head())

# Save the merged dataset to a CSV file
merged_df.to_csv('merged_dataset.csv', index=False)

  Duration (in seconds) What is your age (# years)?  \
0                   510                       22-24
1                   906                       45-49
2                   493                       22-24
3                   724                       35-39
4                   376                       30-34

  What is your gender? - Selected Choice  \
0                                   Male
1                                   Male
2                                   Male
3                                 Female
4                                   Male

  What is your gender? - Prefer to self-describe - Text Location  \
0                                                 -1      France
1                                                 -1      France
2                                                 -1      France
3                                                 -1      France
4                                                 -1      France

  What is the highest level of formal education that you have attained or plan to attain within the next 2 years?  \
0                                    Master’s degree
1                                    Master’s degree
2                                    Master’s degree
3                                  Bachelor’s degree
4                                    Master’s degree

           Job_Title  \
0  Software Engineer
1  Software Engineer
2  Software Engineer
3  Software Engineer
4  Software Engineer

  Select the title most similar to your current role (or most recent title if retired): - Other - Text  \
0                                                 -1
1                                                 -1
2                                                 -1
3                                                 -1
4                                                 -1

  What is the size of the company where you are employed?  \
0                               1000-9,999 employees
1                                     0-49 employees
2                                     0-49 employees
3                                  250-999 employees
4                               1000-9,999 employees

  Approximately how many individuals are responsible for data science workloads at your place of business?  \
0                                                  0
1                                                1-2
2                                                1-2
3                                                5-9
4                                                3-4

   ... Employment.Work Activity.Design Employment.Work Activity.Development  \
0  ...                             NaN                                  NaN
1  ...                             NaN                                  NaN
2  ...                             NaN                                  NaN
3  ...                             NaN                                  NaN
4  ...                             NaN                                  NaN

  Employment.Work Activity.Human Resources  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

  Employment.Work Activity.Managing/Supervising People/Projects  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Other  \
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN

  Employment.Work Activity.Productions/Operations/Maintenance  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Professional Service  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN

  Employment.Work Activity.Qualitity/Productivity Management  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Sales, Purchasing, Marketing  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Teaching
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN

[5 rows x 334 columns]

In [23]:
merged_df.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,Location,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Job_Title,Select the title most similar to your current role (or most recent title if retired): - Other - Text,What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
0,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,906,45-49,Male,-1,France,Master’s degree,Software Engineer,-1,0-49 employees,1-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,493,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,0-49 employees,1-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,724,35-39,Female,-1,France,Bachelor’s degree,Software Engineer,-1,250-999 employees,5-9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,376,30-34,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",3-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# merged_df.isna().sum()
missing_percentage = merged_df.isna().mean() * 100
print(missing_percentage)

Duration (in seconds)                                          75.961469
What is your age (# years)?                                    75.961469
What is your gender? - Selected Choice                         75.961469
What is your gender? - Prefer to self-describe - Text          75.961469
Location                                                        0.610801
                                                                 ...
Employment.Work Activity.Productions/Operations/Maintenance    99.375920
Employment.Work Activity.Professional Service                  99.375920
Employment.Work Activity.Qualitity/Productivity Management     99.375920
Employment.Work Activity.Sales, Purchasing, Marketing          99.375920
Employment.Work Activity.Teaching                              99.375920
Length: 334, dtype: float64

In [25]:
#Premoving the columns with huge NaN values
merged_df.drop(columns=[col for col in merged_df.columns if merged_df[col].isna().mean() > 0.99], inplace=True)
merged_df['Duration (in seconds)'].fillna(merged_df['Duration (in seconds)'].median(), inplace=True)
merged_df['What is your gender? - Selected Choice'].fillna('Unknown', inplace=True)
merged_df['Location'].fillna(merged_df['Location'].mode()[0], inplace=True)
print(merged_df.isna().sum())
print(merged_df.columns)

Duration (in seconds)                                        0
What is your age (# years)?                              62928
What is your gender? - Selected Choice                       0
What is your gender? - Prefer to self-describe - Text    62928
Location                                                     0
                                                         ...
currency                                                 64369
compensation_type                                        64369
normalized_salary                                        64369
zip_code                                                 31883
fips                                                     35149
Length: 196, dtype: int64
Index(['Duration (in seconds)', 'What is your age (# years)?',
       'What is your gender? - Selected Choice',
       'What is your gender? - Prefer to self-describe - Text', 'Location',
       'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?',
       'Job_Title',
       'Select the title most similar to your current role (or most recent title if retired): - Other - Text',
       'What is the size of the company where you are employed?',
       'Approximately how many individuals are responsible for data science workloads at your place of business?',
       ...
       'Required_Skills', 'listed_time', 'posting_domain', 'sponsored',
       'work_type', 'currency', 'compensation_type', 'normalized_salary',
       'zip_code', 'fips'],
      dtype='object', length=196)

In [28]:
threshold = 0.90  # Set the threshold for NaN values (90%)
merged_df = merged_df.loc[:, merged_df.isna().mean() <= threshold]
merged_df.drop(columns=['What is your gender? - Prefer to self-describe - Text'], inplace=True)

print(merged_df.isna().sum())
print(merged_df.columns)

Duration                0
Age                 62928
Gender                  0
Location                0
Education           63322
                    ...
Currency            64369
CompensationType    64369
NormalizedSalary    64369
ZipCode             31883
FIPS                35149
Length: 79, dtype: int64
Index(['Duration', 'Age', 'Gender', 'Location', 'Education', 'JobTitle',
       'RoleTitleText', 'CompanySize', 'DataScienceTeamSize',
       'MLIncorporation', 'WorkRoleActivitiesText', 'YearlyCompensation',
       'MLCloudSpending', 'FavMediaKaggle', 'FavMediaBlogs',
       'FavMediaOtherText', 'CoursesCoursera', 'CoursesOtherText',
       'PrimaryToolSelected', 'PrimaryToolBasicStatText',
       'PrimaryToolAdvStatText', 'PrimaryToolBizIntelligenceText',
       'PrimaryToolLocalDevText', 'PrimaryToolCloudDataText',
       'PrimaryToolOtherText', 'CodeWritingExperience',
       'Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc) ',
       'IDEsOtherText', 'HostedNotebooksOtherText', 'LanguagesPython',
       'LanguagesOtherText', 'RecommendedLangSelected',
       'RecommendedLangOtherText', 'VizToolsMatplotlib', 'VizToolsOtherText',
       'HardwareCPUs', 'HardwareOtherText', 'UsedTPU', 'MLExperienceYears',
       'MLAlgosLogisticReg', 'MLAlgosDecisionTrees', 'MLAlgosOtherText',
       'MLToolsCategoriesOtherText', 'CVMethodsCategoriesOtherText',
       'NLPMethodsOtherText', 'MLFrameworksScikit', 'MLFrameworksOtherText',
       'CloudPlatformsOtherText', 'CloudProductsOtherText',
       'BigDataProductsOtherText', 'MLProductsOtherText',
       'AutoMLToolsOtherText', 'DBProductsOtherText', 'Unnamed', 'JobID',
       'CompanyName', 'Description', 'SalaryMax', 'PayPeriod', 'CompanyID',
       'Views', 'SalaryMin', 'WorkType', 'Applies', 'ListedTime',
       'JobPostingURL', 'ApplicationURL', 'ApplicationType', 'Expiry',
       'ExperienceLevel', 'ListedTime', 'PostingDomain', 'Sponsored',
       'WorkType', 'Currency', 'CompensationType', 'NormalizedSalary',
       'ZipCode', 'FIPS'],
      dtype='object')

In [34]:
#Renaming the questions in columns with relevant name

# Dictionary mapping old column names to new shorter names
column_rename_map = {
    'Duration (in seconds)': 'Duration',
    'What is your age (# years)?': 'Age',
    'What is your gender? - Selected Choice': 'Gender',
    'Location': 'Location',
    'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?': 'Education',
    'Job_Title': 'JobTitle',
    'Select the title most similar to your current role (or most recent title if retired): - Other - Text': 'RoleTitleText',
    'What is the size of the company where you are employed?': 'CompanySize',
    'Approximately how many individuals are responsible for data science workloads at your place of business?': 'DataScienceTeamSize',
    'Does your current employer incorporate machine learning methods into their business?': 'MLIncorporation',
    'Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text': 'WorkRoleActivitiesText',
    'What is your current yearly compensation (approximate $USD)?': 'YearlyCompensation',
    'Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?': 'MLCloudSpending',
    'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Kaggle (forums, blog, social media, etc)': 'FavMediaKaggle',
    'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Blogs (Towards Data Science, Medium, Analytics Vidhya, KDnuggets etc)': 'FavMediaBlogs',
    'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text': 'FavMediaOtherText',
    'On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera': 'CoursesCoursera',
    'On which platforms have you begun or completed data science courses? (Select all that apply) - Other - Text': 'CoursesOtherText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice': 'PrimaryToolSelected',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text': 'PrimaryToolBasicStatText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text': 'PrimaryToolAdvStatText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text': 'PrimaryToolBizIntelligenceText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text': 'PrimaryToolLocalDevText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text': 'PrimaryToolCloudDataText',
    'What is the primary tool that you use at work or school to analyze data? (Include text response) - Other - Text': 'PrimaryToolOtherText',
    'How long have you been writing code to analyze data (at work or at school)?': 'CodeWritingExperience',
    'Which of the following integrated development environments (IDE\'s) do you use on a regular basis?  (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc)': 'IDEsJupyter',
    'Which of the following integrated development environments (IDE\'s) do you use on a regular basis?  (Select all that apply) - Other - Text': 'IDEsOtherText',
    'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Other - Text': 'HostedNotebooksOtherText',
    'What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python': 'LanguagesPython',
    'What programming languages do you use on a regular basis? (Select all that apply) - Other - Text': 'LanguagesOtherText',
    'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice': 'RecommendedLangSelected',
    'What programming language would you recommend an aspiring data scientist to learn first? - Other - Text': 'RecommendedLangOtherText',
    'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice -  Matplotlib ': 'VizToolsMatplotlib',
    'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Other - Text': 'VizToolsOtherText',
    'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice - CPUs': 'HardwareCPUs',
    'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Other - Text': 'HardwareOtherText',
    'Have you ever used a TPU (tensor processing unit)?': 'UsedTPU',
    'For how many years have you used machine learning methods?': 'MLExperienceYears',
    'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Linear or Logistic Regression': 'MLAlgosLogisticReg',
    'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice - Decision Trees or Random Forests': 'MLAlgosDecisionTrees',
    'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Other - Text': 'MLAlgosOtherText',
    'Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Other - Text': 'MLToolsCategoriesOtherText',
    'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Other - Text': 'CVMethodsCategoriesOtherText',
    'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Other - Text': 'NLPMethodsOtherText',
    'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice -   Scikit-learn ': 'MLFrameworksScikit',
    'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Other - Text': 'MLFrameworksOtherText',
    'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Other - Text': 'CloudPlatformsOtherText',
    'Which specific cloud computing products do you use on a regular basis? (Select all that apply) - Other - Text': 'CloudProductsOtherText',
    'Which specific big data / analytics products do you use on a regular basis? (Select all that apply) - Other - Text': 'BigDataProductsOtherText',
    'Which of the following machine learning products do you use on a regular basis? (Select all that apply) - Other - Text': 'MLProductsOtherText',
    'Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply) - Other - Text': 'AutoMLToolsOtherText',
    'Which of the following relational database products do you use on a regular basis? (Select all that apply) - Other - Text': 'DBProductsOtherText',
    #Other column renames here:
    'Unnamed: 0': 'Unnamed',
    'job_id': 'JobID',
    'company_name': 'CompanyName',
    'description': 'Description',
    'Salary_Max': 'SalaryMax',
    'pay_period': 'PayPeriod',
    'company_id': 'CompanyID',
    'views': 'Views',
    'Salary_Min': 'SalaryMin',
    'formatted_work_type': 'WorkType',
    'applies': 'Applies',
    'original_listed_time': 'ListedTime',
    'job_posting_url': 'JobPostingURL',
    'application_url': 'ApplicationURL',
    'application_type': 'ApplicationType',
    'expiry': 'Expiry',
    'formatted_experience_level': 'ExperienceLevel',
    'listed_time': 'ListedTime',
    'posting_domain': 'PostingDomain',
    'sponsored': 'Sponsored',
    'work_type': 'WorkType',
    'currency': 'Currency',
    'compensation_type': 'CompensationType',
    'normalized_salary': 'NormalizedSalary',
    'zip_code': 'ZipCode',
    'fips': 'FIPS'
}

# Rename columns
merged_df.rename(columns=column_rename_map, inplace=True)

# Display the updated column names
print(merged_df.columns)

Index(['Duration', 'Age', 'Gender', 'Location', 'Education', 'JobTitle',
       'RoleTitleText', 'CompanySize', 'DataScienceTeamSize',
       'MLIncorporation', 'WorkRoleActivitiesText', 'YearlyCompensation',
       'MLCloudSpending', 'FavMediaKaggle', 'FavMediaBlogs',
       'FavMediaOtherText', 'CoursesCoursera', 'CoursesOtherText',
       'PrimaryToolSelected', 'PrimaryToolBasicStatText',
       'PrimaryToolAdvStatText', 'PrimaryToolBizIntelligenceText',
       'PrimaryToolLocalDevText', 'PrimaryToolCloudDataText',
       'PrimaryToolOtherText', 'CodeWritingExperience',
       'Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice - Jupyter (JupyterLab, Jupyter Notebooks, etc) ',
       'IDEsOtherText', 'HostedNotebooksOtherText', 'LanguagesPython',
       'LanguagesOtherText', 'RecommendedLangSelected',
       'RecommendedLangOtherText', 'VizToolsMatplotlib', 'VizToolsOtherText',
       'HardwareCPUs', 'HardwareOtherText', 'UsedTPU', 'MLExperienceYears',
       'MLAlgosLogisticReg', 'MLAlgosDecisionTrees', 'MLAlgosOtherText',
       'MLToolsCategoriesOtherText', 'CVMethodsCategoriesOtherText',
       'NLPMethodsOtherText', 'MLFrameworksScikit', 'MLFrameworksOtherText',
       'CloudPlatformsOtherText', 'CloudProductsOtherText',
       'BigDataProductsOtherText', 'MLProductsOtherText',
       'AutoMLToolsOtherText', 'DBProductsOtherText', 'Unnamed', 'JobID',
       'CompanyName', 'Description', 'SalaryMax', 'PayPeriod', 'CompanyID',
       'Views', 'SalaryMin', 'WorkType', 'Applies', 'ListedTime',
       'JobPostingURL', 'ApplicationURL', 'ApplicationType', 'Expiry',
       'ExperienceLevel', 'ListedTime', 'PostingDomain', 'Sponsored',
       'WorkType', 'Currency', 'CompensationType', 'NormalizedSalary',
       'ZipCode', 'FIPS'],
      dtype='object')

In [30]:
#Selecting the Relevant Columns
relevant_columns = [
    'Age', 
    'Gender', 
    'Location', 
    'Education', 
    'JobTitle', 
    'CompanySize', 
    'DataScienceTeamSize', 
    'MLIncorporation', 
    'YearlyCompensation', 
    'MLCloudSpending', 
    'CoursesCoursera', 
    'PrimaryToolSelected', 
    'CodeWritingExperience', 
    'LanguagesPython', 
    'MLExperienceYears', 
    'SalaryMax', 
    'SalaryMin', 
    'NormalizedSalary', 
    'WorkType', 
    'ExperienceLevel'
]

# Select the relevant columns from merged_df
selected_df = merged_df[relevant_columns]

# Display the first few rows of the selected DataFrame
print(selected_df.head())

     Age  Gender Location          Education           JobTitle  \
0  22-24    Male   France    Master’s degree  Software Engineer
1  45-49    Male   France    Master’s degree  Software Engineer
2  22-24    Male   France    Master’s degree  Software Engineer
3  35-39  Female   France  Bachelor’s degree  Software Engineer
4  30-34    Male   France    Master’s degree  Software Engineer

            CompanySize DataScienceTeamSize  \
0  1000-9,999 employees                   0
1        0-49 employees                 1-2
2        0-49 employees                 1-2
3     250-999 employees                 5-9
4  1000-9,999 employees                 3-4

                                     MLIncorporation YearlyCompensation  \
0                                      I do not know      30,000-39,999
1  We are exploring ML methods (and may one day p...      90,000-99,999
2  We recently started using ML methods (i.e., mo...      30,000-39,999
3                                      I do not know      40,000-49,999
4                                      I do not know      40,000-49,999

  MLCloudSpending  ...                                PrimaryToolSelected  \
0        $0 (USD)  ...  Basic statistical software (Microsoft Excel, G...
1    $1000-$9,999  ...                                              Other
2       $100-$999  ...  Local development environments (RStudio, Jupyt...
3        $0 (USD)  ...                                              Other
4          $1-$99  ...  Business intelligence software (Salesforce, Ta...

  CodeWritingExperience LanguagesPython MLExperienceYears SalaryMax  \
0             1-2 years          Python         1-2 years       NaN
1             < 1 years          Python         1-2 years       NaN
2             1-2 years          Python         1-2 years       NaN
3             < 1 years          Python         < 1 years       NaN
4            5-10 years          Python        5-10 years       NaN

   SalaryMin  NormalizedSalary WorkType WorkType ExperienceLevel
0        NaN               NaN      NaN      NaN             NaN
1        NaN               NaN      NaN      NaN             NaN
2        NaN               NaN      NaN      NaN             NaN
3        NaN               NaN      NaN      NaN             NaN
4        NaN               NaN      NaN      NaN             NaN

[5 rows x 21 columns]

  Duration    Age  Gender Location          Education           JobTitle  \
0      510  22-24    Male   France    Master’s degree  Software Engineer
1      906  45-49    Male   France    Master’s degree  Software Engineer
2      493  22-24    Male   France    Master’s degree  Software Engineer
3      724  35-39  Female   France  Bachelor’s degree  Software Engineer
4      376  30-34    Male   France    Master’s degree  Software Engineer

  RoleTitleText WorkRoleActivitiesText FavMediaOtherText CoursesOtherText  \
0            -1                     -1                -1               -1
1            -1                     -1                 5               -1
2            -1                     -1                -1               -1
3            -1                     -1                19               -1
4            -1                     -1                -1               -1

   ... ExperienceLevel ListedTime PostingDomain Sponsored WorkType Currency  \
0  ...             NaN        NaN           NaN       NaN      NaN      NaN
1  ...             NaN        NaN           NaN       NaN      NaN      NaN
2  ...             NaN        NaN           NaN       NaN      NaN      NaN
3  ...             NaN        NaN           NaN       NaN      NaN      NaN
4  ...             NaN        NaN           NaN       NaN      NaN      NaN

  CompensationType NormalizedSalary ZipCode FIPS
0              NaN              NaN     NaN  NaN
1              NaN              NaN     NaN  NaN
2              NaN              NaN     NaN  NaN
3              NaN              NaN     NaN  NaN
4              NaN              NaN     NaN  NaN

[5 rows x 56 columns]

In [36]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
import pandas as pd

# Function to detect and apply ordinal encoding
def detect_and_ordinal_encode(df):
    # Create a copy of the original dataframe
    df_encoded = df.copy()
    
    # Initialize a dictionary to store label encoders for each column
    label_encoders = {}

    # Loop through columns
    for col in df_encoded.columns:
        # Check if the column is of type object (categorical)
        if df_encoded[col].dtype == 'O':  # 'O' stands for object in pandas
            # Handle NaN before encoding (replace NaNs with 'Unknown' or other placeholder)
            df_encoded[col].fillna('Unknown', inplace=True)
            
            # Apply Label Encoding
            le = LabelEncoder()
            df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))
            
            # Store the LabelEncoder for future use
            label_encoders[col] = le

    return df_encoded, label_encoders

# Step 1: Ordinal encoding
encoded_df, labels_encoders = detect_and_ordinal_encode(merged_df)

# Step 2: Select relevant columns
relevant_columns = [
    'Age', 
    'Gender', 
    'Location', 
    'Education', 
    'JobTitle', 
    'CompanySize', 
    'DataScienceTeamSize', 
    'MLIncorporation', 
    'YearlyCompensation', 
    'MLCloudSpending', 
    'CoursesCoursera', 
    'PrimaryToolSelected', 
    'CodeWritingExperience', 
    'LanguagesPython', 
    'MLExperienceYears', 
    'SalaryMax', 
    'SalaryMin', 
    'NormalizedSalary', 
    'WorkType', 
    'ExperienceLevel'
]

# Ensure selected columns exist in the encoded DataFrame
selected_columns = [col for col in relevant_columns if col in encoded_df.columns]

# Select only relevant columns from the encoded DataFrame
selected_encoded_df = encoded_df[selected_columns]

# Step 3: Apply KNN imputer
imputer = KNNImputer(n_neighbors=5)

# Apply the KNN imputer on the selected columns
imputed_data = imputer.fit_transform(selected_encoded_df)

# Convert the imputed data back into a DataFrame
imputed_df = pd.DataFrame(imputed_data, columns=selected_columns)

# Display the first few rows of the imputed DataFrame
print(imputed_df.head())

AttributeError: 'DataFrame' object has no attribute 'dtype'