# Full dataset Generation

## Importing libraries

In [20]:
import os
import pandas as pd
import seaborn as sns
import numpy as np

## Data Cleaning

### Data cleaning on dataset 2

Since our postings.csv is too large, we only take half of this dataset for common dataset generation

In [ ]:
POSTINGS_PATH = os.path.join('./datasets/Job_Postings','postings.csv')
df = pd.read_csv(POSTINGS_PATH)

In [ ]:
df_half = df.iloc[:len(df) // 2,:]
len(df_half)

In [ ]:
NEW_POSTINGS_PATH = os.path.join('./datasets/Job_Postings', 'postings_half.csv')
df_half.to_csv(NEW_POSTINGS_PATH)

After reducing dataset, we have removed it from directory

### Merging datasets
Reading all columns of dataset we consider

In [18]:
# Load the datasets
df1 = pd.read_csv('./datasets/kaggle-survey-2019/multiple_choice_responses.csv')  # multiple_choice_responses dataset
df2 = pd.read_csv('./datasets/US_graduates/US_graduates.csv')               # US_graduates dataset
df3 = pd.read_csv('./datasets/Job_Postings/postings_half.csv')                   # postings dataset
df4 = pd.read_csv('./datasets/AI_Job_Market/ai_job_market_insights.csv')              # ai insights dataset

# Print column names to debug
print("df1 (multiple_choice_responses) columns:", df1.columns)
print("df2 (US_graduates) columns:", df2.columns)
print("df3 (postings) columns:", df3.columns)
print("df4 (ai_insights) columns:", df4.columns)

C:\Users\athar\AppData\Local\Temp\ipykernel_37112\3311246224.py:4: DtypeWarning: Columns (0,3,7,19,32,34,45,47,49,50,51,52,53,54,66,68,79,81,92,94,96,107,109,115,128,130,137,139,145,147,152,154,165,167,178,180,191,193,204,206,217,219,230,232,243,245) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('./datasets/kaggle-survey-2019/multiple_choice_responses.csv')  # multiple_choice_responses dataset

df1 (multiple_choice_responses) columns: Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q2_OTHER_TEXT',
       'Q3', 'Q4', 'Q5', 'Q5_OTHER_TEXT', 'Q6', 'Q7',
       ...
       'Q34_Part_4', 'Q34_Part_5', 'Q34_Part_6', 'Q34_Part_7', 'Q34_Part_8',
       'Q34_Part_9', 'Q34_Part_10', 'Q34_Part_11', 'Q34_Part_12',
       'Q34_OTHER_TEXT'],
      dtype='object', length=246)
df2 (US_graduates) columns: Index(['Year', 'Demographics.Total', 'Education.Major', 'Salaries.Highest',
       'Salaries.Lowest', 'Salaries.Mean', 'Salaries.Median',
       'Salaries.Quantity', 'Salaries.Standard Deviation',
       'Demographics.Ethnicity.Asians', 'Demographics.Ethnicity.Minorities',
       'Demographics.Ethnicity.Whites', 'Demographics.Gender.Females',
       'Demographics.Gender.Males', 'Education.Degrees.Bachelors',
       'Education.Degrees.Doctorates', 'Education.Degrees.Masters',
       'Education.Degrees.Professionals',
       'Employment.Employer Type.Business/Industry',
       'Employment.Employer Type.Educational Institution',
       'Employment.Employer Type.Government',
       'Employment.Reason Working Outside Field.Career Change',
       'Employment.Reason Working Outside Field.Family-related',
       'Employment.Reason Working Outside Field.Job Location',
       'Employment.Reason Working Outside Field.No Job Available',
       'Employment.Reason Working Outside Field.Other',
       'Employment.Reason Working Outside Field.Pay/Promotion',
       'Employment.Reason Working Outside Field.Working Conditions',
       'Employment.Reason for Not Working.Family',
       'Employment.Reason for Not Working.Layoff',
       'Employment.Reason for Not Working.No Job Available',
       'Employment.Reason for Not Working.No need/want',
       'Employment.Reason for Not Working.Student',
       'Employment.Status.Employed', 'Employment.Status.Not in Labor Force',
       'Employment.Status.Unemployed',
       'Employment.Work Activity.Accounting/Finance/Contracts',
       'Employment.Work Activity.Applied Research',
       'Employment.Work Activity.Basic Research',
       'Employment.Work Activity.Computer Applications',
       'Employment.Work Activity.Design',
       'Employment.Work Activity.Development',
       'Employment.Work Activity.Human Resources',
       'Employment.Work Activity.Managing/Supervising People/Projects',
       'Employment.Work Activity.Other',
       'Employment.Work Activity.Productions/Operations/Maintenance',
       'Employment.Work Activity.Professional Service',
       'Employment.Work Activity.Qualitity/Productivity Management',
       'Employment.Work Activity.Sales, Purchasing, Marketing',
       'Employment.Work Activity.Teaching'],
      dtype='object')
df3 (postings) columns: Index(['Unnamed: 0', 'job_id', 'company_name', 'title', 'description',
       'max_salary', 'pay_period', 'location', 'company_id', 'views',
       'med_salary', 'min_salary', 'formatted_work_type', 'applies',
       'original_listed_time', 'remote_allowed', 'job_posting_url',
       'application_url', 'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')
df4 (ai_insights) columns: Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

Viewing dataset 1

In [19]:
df1.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

### Rectifying dataset 1

We remove header 1 and replace it with row 1

In [20]:
# Rectifying header of dataframe 1 
df1.columns = df1.iloc[0]
# Drop the second row (as it is now the header)
df1 = df1.drop(0)

df1.rename(columns={
    "In which country do you currently reside?": "Location",
    "Select the title most similar to your current role (or most recent title if retired): - Selected Choice": "Job_Title",
}, inplace=True)

In [21]:
df1.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,Location,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Job_Title,Select the title most similar to your current role (or most recent title if retired): - Other - Text,What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,...,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft SQL Server,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Oracle Database,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Microsoft Access,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - AWS Relational Database Service,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - AWS DynamoDB,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Azure SQL Database,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Google Cloud SQL,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - None,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice - Other,Which of the following relational database products do you use on a regular basis? (Select all that apply) - Other - Text
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1
5,392,22-24,Male,-1,India,Bachelor’s degree,Other,1,0-49 employees,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

### Rectifying dataset 3
Renaming required columns of Job postings dataset

In [23]:
df3.rename(columns={
    "title": "Job_Title",
    "location": "Location",
    "skills_desc": "Required_Skills",
    "max_salary": "Salary_Max",
    "med_salary": "Salary_Median",
    "min_salary": "Salary_Min"
}, inplace=True)

In [24]:
df3.columns

Index(['Unnamed: 0', 'job_id', 'company_name', 'Job_Title', 'description',
       'Salary_Max', 'pay_period', 'Location', 'company_id', 'views',
       'Salary_Median', 'Salary_Min', 'formatted_work_type', 'applies',
       'original_listed_time', 'remote_allowed', 'job_posting_url',
       'application_url', 'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'Required_Skills', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

### Rectifying dataset 4
Renaming required columns of dataset4

In [25]:
df4.columns

Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

In [26]:
df4.rename(columns={
    "Salary_USD": "Salary_Median",
    "Required_Skills": "Skills",
    "title": "Job_Title"
}, inplace=True)

### Merging datasets on basis of common columns

In [28]:
# Merge the datasets on common columns like 'Job_Title' and 'Location'
merged_df = df1.merge(df3, on=['Job_Title', 'Location'], how='outer')\
                .merge(df4, on=['Job_Title', 'Location'], how='outer')\
                .merge(df2, left_on='Job_Title', right_on='Education.Major', how='outer')

# Display the first few rows of the merged dataset
print(merged_df.head())

# Save the merged dataset to a CSV file
merged_df.to_csv('merged_dataset.csv', index=False)

  Duration (in seconds) What is your age (# years)?  \
0                   NaN                         NaN
1                   NaN                         NaN
2                   NaN                         NaN
3                   NaN                         NaN
4                   NaN                         NaN

  What is your gender? - Selected Choice  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

  What is your gender? - Prefer to self-describe - Text     Location  \
0                                                NaN       Miami, FL
1                                                NaN     Lubbock, TX
2                                                NaN     Lubbock, TX
3                                                NaN       Miami, FL
4                                                NaN     Lubbock, TX

  What is the highest level of formal education that you have attained or plan to attain within the next 2 years?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                           Job_Title  \
0                                  \tHRIS Specialist
1                       \tLicensed Vocational Nurse
2                           \tMerchandiser Drop & Go
3  \tPublic Figure Protection / Executive Protect...
4                     \tSupervisor Clinic Operations

  Select the title most similar to your current role (or most recent title if retired): - Other - Text  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  What is the size of the company where you are employed?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Approximately how many individuals are responsible for data science workloads at your place of business?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   ... Employment.Work Activity.Design Employment.Work Activity.Development  \
0  ...                             NaN                                  NaN
1  ...                             NaN                                  NaN
2  ...                             NaN                                  NaN
3  ...                             NaN                                  NaN
4  ...                             NaN                                  NaN

  Employment.Work Activity.Human Resources  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN

  Employment.Work Activity.Managing/Supervising People/Projects  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Other  \
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN

  Employment.Work Activity.Productions/Operations/Maintenance  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Professional Service  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN

  Employment.Work Activity.Qualitity/Productivity Management  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Sales, Purchasing, Marketing  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Employment.Work Activity.Teaching
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN

[5 rows x 334 columns]

In [29]:
merged_df.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,Location,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Job_Title,Select the title most similar to your current role (or most recent title if retired): - Other - Text,What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
0,NaN,NaN,NaN,NaN,"Miami, FL",NaN,\tHRIS Specialist,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,"Lubbock, TX",NaN,\tLicensed Vocational Nurse,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,"Lubbock, TX",NaN,\tMerchandiser Drop & Go,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,"Miami, FL",NaN,\tPublic Figure Protection / Executive Protect...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"Lubbock, TX",NaN,\tSupervisor Clinic Operations,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = pd.read_csv('merged_dataset.csv')

/var/folders/kl/11gkxl5x49l9sffk443vsksh0000gq/T/ipykernel_2533/3154631676.py:1: DtypeWarning: Columns (1,2,5,8,9,10,11,12,13,14,15,16,17,18,20,21,22,23,24,25,26,27,28,29,30,31,33,35,36,37,38,39,40,41,42,43,44,46,48,55,56,57,58,59,60,61,62,63,64,65,67,69,70,71,72,73,74,75,76,77,78,80,82,83,84,85,86,87,88,89,90,91,93,95,97,98,99,100,101,102,103,104,105,106,108,110,111,112,113,114,116,117,118,119,120,121,122,123,124,125,126,127,129,131,132,133,134,135,136,138,140,141,142,143,144,146,148,149,150,151,153,155,156,157,158,159,160,161,162,163,164,166,168,169,170,171,172,173,174,175,176,177,179,181,182,183,184,185,186,187,188,189,190,192,194,195,196,197,198,199,200,201,202,203,205,207,208,209,210,211,212,213,214,215,216,218,220,221,222,223,224,225,226,227,228,229,231,233,234,235,236,237,238,239,240,241,242,244,248,249,251,256,260,261,262,265,266,268,270,271,272,276,277,278,279,280,282,283,286) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('merged_dataset.csv')

### Identifying highly skewed columns
<i>Done by Abhinav Tembulkar</i><br>
We identify highly skewed columns and drop them from our dataset. 

Below we demonstrate how Currency column is highly skewed. We cannot use such columns to derive any meaningful hypothesis in our EDA

In [53]:
df = pd.read_csv('merged_dataset.csv')
df['currency'].value_counts()

/var/folders/kl/11gkxl5x49l9sffk443vsksh0000gq/T/ipykernel_2533/2147156571.py:1: DtypeWarning: Columns (1,2,5,8,9,10,11,12,13,14,15,16,17,18,20,21,22,23,24,25,26,27,28,29,30,31,33,35,36,37,38,39,40,41,42,43,44,46,48,55,56,57,58,59,60,61,62,63,64,65,67,69,70,71,72,73,74,75,76,77,78,80,82,83,84,85,86,87,88,89,90,91,93,95,97,98,99,100,101,102,103,104,105,106,108,110,111,112,113,114,116,117,118,119,120,121,122,123,124,125,126,127,129,131,132,133,134,135,136,138,140,141,142,143,144,146,148,149,150,151,153,155,156,157,158,159,160,161,162,163,164,166,168,169,170,171,172,173,174,175,176,177,179,181,182,183,184,185,186,187,188,189,190,192,194,195,196,197,198,199,200,201,202,203,205,207,208,209,210,211,212,213,214,215,216,218,220,221,222,223,224,225,226,227,228,229,231,233,234,235,236,237,238,239,240,241,242,244,248,249,251,256,260,261,262,265,266,268,270,271,272,276,277,278,279,280,282,283,286) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('merged_dataset.csv')

currency
USD    18464
CAD        3
AUD        2
BBD        2
EUR        2
Name: count, dtype: int64

In [54]:
# Define a function to calculate skewness and drop columns based on a threshold

skewness_threshold=2
# Calculate skewness for each numerical column
skewness = df.select_dtypes(include=['number']).skew().abs()

# Display skewness values
print("Skewness of each numerical column:")
print(skewness)

Skewness of each numerical column:
Duration (in seconds)                                                                                                             6.303569
What is your gender? - Prefer to self-describe - Text                                                                            27.305449
Select the title most similar to your current role (or most recent title if retired): - Other - Text                              5.533833
Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text                15.482852
Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - None          NaN
                                                                                                                                   ...
Employment.Work Activity.Productions/Operations/Maintenance                                                                       3.564625
Employment.Work Activity.Professional Service                                                                                     4.668980
Employment.Work Activity.Qualitity/Productivity Management                                                                        2.964702
Employment.Work Activity.Sales, Purchasing, Marketing                                                                             3.304421
Employment.Work Activity.Teaching                                                                                                 4.717927
Length: 113, dtype: float64

In [55]:
# Identify columns with skewness greater than the threshold
highly_skewed = skewness[skewness > skewness_threshold].index

# Display highly skewed columns
print("Highly skewed columns to be dropped:")
print(highly_skewed)

# Drop these columns from the DataFrame
df.drop(columns=highly_skewed, inplace=True)

# Display the DataFrame after dropping highly skewed columns
print("DataFrame after dropping highly skewed columns:")
print(len(df.columns))

Highly skewed columns to be dropped:
Index(['Duration (in seconds)',
       'What is your gender? - Prefer to self-describe - Text',
       'Select the title most similar to your current role (or most recent title if retired): - Other - Text',
       'Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text',
       'Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text',
       'On which platforms have you begun or completed data science courses? (Select all that apply) - Other - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Local development environments (RStudio, JupyterLab, etc.) - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text',
       'What is the primary tool that you use at work or school to analyze data? (Include text response) - Other - Text',
       'Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Other - Text',
       'What programming languages do you use on a regular basis? (Select all that apply) - Other - Text',
       'What programming language would you recommend an aspiring data scientist to learn first? - Other - Text',
       'What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Other - Text',
       'Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Other - Text',
       'Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Other - Text',
       'Which specific cloud computing products do you use on a regular basis? (Select all that apply) - Other - Text',
       'Which specific big data / analytics products do you use on a regular basis? (Select all that apply) - Other - Text',
       'Which of the following machine learning products do you use on a regular basis? (Select all that apply) - Other - Text',
       'Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply) - Other - Text',
       'Which of the following relational database products do you use on a regular basis? (Select all that apply) - Other - Text',
       'job_id', 'Salary_Max', 'company_id', 'views', 'Salary_Median_x',
       'applies', 'original_listed_time', 'expiry', 'normalized_salary',
       'Demographics.Total', 'Salaries.Lowest', 'Salaries.Quantity',
       'Salaries.Standard Deviation', 'Demographics.Ethnicity.Asians',
       'Demographics.Ethnicity.Minorities', 'Demographics.Ethnicity.Whites',
       'Demographics.Gender.Females', 'Demographics.Gender.Males',
       'Education.Degrees.Bachelors', 'Education.Degrees.Doctorates',
       'Education.Degrees.Masters', 'Education.Degrees.Professionals',
       'Employment.Employer Type.Business/Industry',
       'Employment.Employer Type.Educational Institution',
       'Employment.Employer Type.Government',
       'Employment.Reason Working Outside Field.Career Change',
       'Employment.Reason Working Outside Field.Family-related',
       'Employment.Reason Working Outside Field.Job Location',
       'Employment.Reason Working Outside Field.No Job Available',
       'Employment.Reason Working Outside Field.Other',
       'Employment.Reason Working Outside Field.Pay/Promotion',
       'Employment.Reason Working Outside Field.Working Conditions',
       'Employment.Reason for Not Working.Family',
       'Employment.Reason for Not Working.Layoff',
       'Employment.Reason for Not Working.No Job Available',
       'Employment.Reason for Not Working.No need/want',
       'Employment.Reason for Not Working.Student',
       'Employment.Status.Employed', 'Employment.Status.Not in Labor Force',
       'Employment.Status.Unemployed',
       'Employment.Work Activity.Accounting/Finance/Contracts',
       'Employment.Work Activity.Applied Research',
       'Employment.Work Activity.Basic Research',
       'Employment.Work Activity.Computer Applications',
       'Employment.Work Activity.Design',
       'Employment.Work Activity.Development',
       'Employment.Work Activity.Human Resources',
       'Employment.Work Activity.Managing/Supervising People/Projects',
       'Employment.Work Activity.Other',
       'Employment.Work Activity.Productions/Operations/Maintenance',
       'Employment.Work Activity.Professional Service',
       'Employment.Work Activity.Qualitity/Productivity Management',
       'Employment.Work Activity.Sales, Purchasing, Marketing',
       'Employment.Work Activity.Teaching'],
      dtype='object')
DataFrame after dropping highly skewed columns:
251

### Column selection
<i>Done by Rahul Lotlikar</i><br>
We are renaming and keeping only these columns in our dataset and removing other Irrelevant columns

In [56]:
# df = pd.read_csv('merged_dataset.csv')

In [59]:
# Dictionary mapping old column names to new shorter names
column_rename_map = {
    'What is your current yearly compensation (approximate $USD)?': 'YearlyCompensation',
    'What is your age (# years)?': 'Age',
    'What is your gender? - Selected Choice': 'Gender',
    'Location': 'Location',
    'Job_Title': 'JobTitle',   
    'company_name': 'CompanyName',
    'description': 'Description',
    'pay_period': 'PayPeriod',
    'Salary_Min': 'SalaryMin',
    'formatted_work_type': 'WorkType',
    'original_listed_time': 'ListedTime',
    'application_type': 'ApplicationType',
    'formatted_experience_level': 'ExperienceLevel',
    'listed_time': 'ListedTime',
    'posting_domain': 'PostingDomain',
    'work_type': 'WorkType',
    'currency': 'Currency',
    'compensation_type': 'CompensationType',
    'zip_code': 'ZipCode',
    'Does your current employer incorporate machine learning methods into their business?': 'MLIncorporation',
    'On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Coursera': 'CoursesCoursera',
    'For how many years have you used machine learning methods?': 'MLExperienceYears',
    'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?': 'Education',
    'Approximately how many individuals are responsible for data science workloads at your place of business?': 'DataScienceTeamSize',
}


# Rename columns
df.rename(columns=column_rename_map, inplace=True)
df = df[column_rename_map.values()]

# Display the updated column names
print(df.columns)

Index(['YearlyCompensation', 'Age', 'Gender', 'Location', 'JobTitle',
       'CompanyName', 'Description', 'PayPeriod', 'SalaryMin', 'WorkType',
       'WorkType', 'ListedTime', 'ApplicationType', 'ExperienceLevel',
       'ListedTime', 'PostingDomain', 'WorkType', 'WorkType', 'Currency',
       'CompensationType', 'ZipCode', 'MLIncorporation', 'CoursesCoursera',
       'MLExperienceYears', 'Education', 'DataScienceTeamSize'],
      dtype='object')

### Shuffling and truncating dataset
<i>Done by Atul Pandey</i><br>
Since KNN imputation takes long time. We take only first 6000 rows for execution to finish in reasonable time

In [60]:
n_rows = len(df)
print('Original rows', n_rows)
df = df.iloc[: 6000, :]
# Shuffle
df = df.sample(frac=1)

Original rows 82842

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000 entries, 1272 to 2491
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YearlyCompensation   0 non-null      object
 1   Age                  0 non-null      object
 2   Gender               0 non-null      object
 3   Location             5945 non-null   object
 4   JobTitle             5945 non-null   object
 5   CompanyName          5732 non-null   object
 6   Description          5893 non-null   object
 7   PayPeriod            1904 non-null   object
 8   SalaryMin            1609 non-null   float64
 9   WorkType             5894 non-null   object
 10  WorkType             5894 non-null   object
 11  ListedTime           5894 non-null   float64
 12  ApplicationType      5894 non-null   object
 13  ExperienceLevel      4291 non-null   object
 14  ListedTime           5894 non-null   float64
 15  PostingDomain        3480 non-null   object
 16  WorkType             5894 non-null   object
 17  WorkType             5894 non-null   object
 18  Currency             1904 non-null   object
 19  CompensationType     1904 non-null   object
 20  ZipCode              4874 non-null   float64
 21  MLIncorporation      0 non-null      object
 22  CoursesCoursera      0 non-null      object
 23  MLExperienceYears    0 non-null      object
 24  Education            0 non-null      object
 25  DataScienceTeamSize  0 non-null      object
dtypes: float64(4), object(22)
memory usage: 1.2+ MB

In [62]:
df.to_csv('merged_dataset_atul.csv')

### Imputing missing values in dataset
<i>Done by Atharva Prabhu</i><br>
We K-Nearest Neighbours to infer missing values in our dataset to make it suitable for EDA

In [76]:
df = pd.read_csv('merged_dataset_atul.csv')

In [77]:
df_cleaned = df.dropna(axis='columns', how='all')

In [78]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

In [79]:
def detect_and_ordinal_encode(df):
    # Create a copy of the original dataframe
    df_encoded = df.copy()
    
    # Initialize a dictionary to store label encoders for each column
    label_encoders = {}

    # Loop through columns
    for col in df_encoded.columns:
        # Check if column is categorical (object type)
        if df_encoded[col].dtype == 'object':
            # Apply Label Encoding
            le = LabelEncoder()
            df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))
            
            # Store the LabelEncoder for future use (e.g., for decoding or applying to test data)
            label_encoders[col] = le

    return df_encoded, label_encoders

encoded_df , labels_encoders = detect_and_ordinal_encode(df_cleaned)

In [80]:
len(encoded_df.columns)

19

In [81]:
print(encoded_df.shape)
print(len(encoded_df.columns))

(6000, 19)
19

In [82]:
knn_imputer = KNNImputer(n_neighbors=5)

# Perform imputation and convert the result back to a DataFrame
df_imputed = pd.DataFrame(knn_imputer.fit_transform(encoded_df), columns=encoded_df.columns)

# Ensure the encoded categorical columns are of integer type after imputation (since KNN Imputer returns floats)
df_imputed = df_imputed.apply(lambda x: x.astype(int) if x.name in labels_encoders else x)

In [83]:
df_imputed.isna().sum()

Unnamed: 0          0
Location            0
JobTitle            0
CompanyName         0
Description         0
PayPeriod           0
SalaryMin           0
WorkType            0
WorkType.1          0
ListedTime          0
ApplicationType     0
ExperienceLevel     0
ListedTime.1        0
PostingDomain       0
WorkType.2          0
WorkType.3          0
Currency            0
CompensationType    0
ZipCode             0
dtype: int64

In [84]:
df_imputed.to_csv('imputed_dataset.csv', index=False)

In [86]:
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6000 non-null   float64
 1   Location          6000 non-null   int64
 2   JobTitle          6000 non-null   int64
 3   CompanyName       6000 non-null   int64
 4   Description       6000 non-null   int64
 5   PayPeriod         6000 non-null   int64
 6   SalaryMin         6000 non-null   float64
 7   WorkType          6000 non-null   int64
 8   WorkType.1        6000 non-null   int64
 9   ListedTime        6000 non-null   float64
 10  ApplicationType   6000 non-null   int64
 11  ExperienceLevel   6000 non-null   int64
 12  ListedTime.1      6000 non-null   float64
 13  PostingDomain     6000 non-null   int64
 14  WorkType.2        6000 non-null   int64
 15  WorkType.3        6000 non-null   int64
 16  Currency          6000 non-null   int64
 17  CompensationType  6000 non-null   int64
 18  ZipCode           6000 non-null   float64
dtypes: float64(5), int64(14)
memory usage: 890.8 KB